
*.exe
*.stash
*.o
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_clientdialog.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_error.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_instruction.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_login.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_registerin.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_regerror.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.chat.Debug
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.chat.Release
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_clientdialog.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_error.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_instruction.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_login.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_regerror.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_registerin.h
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_mainwindow.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
*.user

build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_room.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_error_no.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_error_nn.h
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_room.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_error_no.cpp
build-chat-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_error_nn.cpp
build-demo_server-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_mtcpsocket.cpp
*.autosave
